.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 600px;
  /* text-align: center; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal .container-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.modal button.editBookFormSubmit {
  background-color: #17682e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.modal button.editBookFormSubmit:hover {
  background-color: rgba(0, 179, 69, 0.589);
} 


.modal button.cancelBookFormSubmit{
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal button.cancelBookFormSubmit:hover {
  background-color: rgba(255, 0, 0, 0.592);
} 